<!DOCTYPE html>
<html lang="ro">
<head>
  <%- include('../fragmente/head') %>
  <title>Acasă - ScaiGarden</title>
</head>
<body>
  <%- include('../fragmente/header') %>

  <main>
    <h1>Bine ați venit pe pagina Acasă!</h1>
    <p>Aceasta este pagina principală a site-ului ScaiGarden.</p>
  </main>

  <%- include('../fragmente/footer') %>
</body>
</html>
