<!DOCTYPE html>
<html lang="ro">
<head>
  <%- include('../fragmente/head') %>
  <title>Despre Noi - ScaiGarden</title>
  <link rel="stylesheet" href="/resurse/css/despre.css" />
</head>
<body>
  <%- include('../fragmente/header') %>

  <main>
    <h1>Despre ScaiGarden</h1>
    <p>
      Bine ați venit pe site-ul ScaiGarden! Suntem o firmă virtuală dedicată pasionaților flori și natură.  
      Ne propunem să oferim cele mai frumoase aranjamente de flori pentru orice ocazie și informații pentru a vă ajuta să vă transformați propria grădină într-un colț de rai! .
    </p>
    <p>
      Echipa noastră este formată din experți în domeniu, gata să vă ofere suport și sfaturi utile.  
      Vă mulțumim că ne vizitați și vă invităm să explorați toate paginile site-ului nostru!
    </p>
   <img src="/resurse/imagini/despre/gradina.jpg" alt="Florăria noastră" class="gradina" />

  </main>

  <%- include('../fragmente/footer') %>
</body>
</html>
