 <footer>
        <div class="break-print"></div>
        <p class="banner"></p>

        <address>
            
            <p>Telefon: <a href="tel:+40723456789">0723 456 789</a></p>
            <p>Adresă: <a href="https://maps.app.goo.gl/6kiuC7ceyKmjsBRXA" target="_blank">Facultatea de Matematică și Informatică</a></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2848.8457071914595!2d26.0980739!3d44.4363271!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741115381952!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


            <p>Email: <a href="mailto:contact@scaigarden.ro">contact@scaigarden.ro</a></p>
            <p>Chat: <a href="https://wa.me/40723456789" target="_blank">WhatsApp</a></p>
        </address>
        <p><a href="resurse/pdf/termeni_conditii.pdf" download="Termeni_Conditii.pdf">Descarcă Termenii și Condițiile</a>
        </p>
        <embed src="resurse/pdf/termeni_conditii.pdf" type="application/pdf" width="400" height="200">

        <hr>
        <small>
            © <time datetime="2025-03-03">3 martie 2025</time> ScaiGarden. Toate drepturile rezervate.
        </small>

        <p><a href="#top">Înapoi la început</a></p>
    </footer>