
<header>
  <h1><i class="fa-solid fa-star"></i> ScaiGarden - Florărie Online</h1>
  <nav id="variante-meniu">
    <!-- Hamburger și toggle pentru mobil -->
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" id="burger" aria-label="Deschide meniul">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- MENIU CLASIC (desktop/tabletă) -->
   <ul class="main-menu">
  <li class="menu-item acasa">
    <a href="#acasa" class="acasa-link">
      <span class="icon-casa"><i class="fa fa-home"></i></span>
      <span class="text-acasa">Acasă</span>
    </a>
  </li>
  <li class="menu-item has-submenu">
    <a href="#produse">Produse</a>
    <ul class="submenu">
      <li><a href="#buchete">Buchete de flori</a></li>
      <li><a href="#aranjamente">Aranjamente florale</a></li>
      <li><a href="#plante">Plante decorative</a></li>
    </ul>
  </li>
  <li class="menu-item has-submenu">
    <a href="#despre">Despre noi</a>
    <ul class="submenu">
      <li><a href="#poveste">Povestea Florăriei</a></li>
      <li><a href="#echipa">Echipa ScaiGarden</a></li>
      <li><a href="#recenzii">Recenzii Clienți</a></li>
    </ul>
  </li>
  <li class="menu-item has-submenu">
    <a href="#comenzi">Comenzi și livrare</a>
    <ul class="submenu">
      <li><a href="#plata">Modalități de Plată</a></li>
      <li><a href="#politica">Politica de Livrare și Retur</a></li>
      <li><a href="#sfaturi">Îngrijirea buchetelor de flori</a></li>
    </ul>
  </li>
  <li class="menu-item has-submenu">
  <a href="#alte-pagini">Alte Pagini</a>
  <ul class="submenu">
    <li><a href="/despre">Despre</a></li>  <!-- Noua intrare -->
    <li><a href="/galerie_statica">Galerie Statică</a></li>
    <li><a href="/galerie_dinamica">Galerie Dinamică</a></li>
    <li><a href="noutati">Noutăți</a></li>
    <li><a href="blog">Blog</a></li>
  </ul>
</li>

</ul>



    <!-- DRAWER MENIU MOBIL -->
   <!-- DRAWER MENIU MOBIL -->
<div class="menu-drawer">
  <ul>
    <li class="menu-item acasa">
      <a href="#acasa" class="acasa-link">
        <span class="icon-casa"><i class="fa fa-home"></i></span>
      </a>
    </li>
    <li class="menu-item has-submenu">
      <a href="#produse">Produse</a>
      <ul class="submenu">
        <li><a href="#buchete">Buchete de flori</a></li>
        <li><a href="#aranjamente">Aranjamente florale</a></li>
        <li><a href="#plante">Plante decorative</a></li>
      </ul>
    </li>
    <li class="menu-item has-submenu">
      <a href="#despre">Despre noi</a>
      <ul class="submenu">
        <li><a href="#poveste">Povestea Florăriei</a></li>
        <li><a href="#echipa">Echipa ScaiGarden</a></li>
        <li><a href="#recenzii">Recenzii Clienți</a></li>
      </ul>
    </li>
    <li class="menu-item has-submenu">
      <a href="#comenzi">Comenzi și livrare</a>
      <ul class="submenu">
        <li><a href="#plata">Modalități de Plată</a></li>
        <li><a href="#politica">Politica de Livrare și Retur</a></li>
        <li><a href="#sfaturi">Îngrijirea buchetelor de flori</a></li>
      </ul>
    </li>
    <li class="menu-item has-submenu">
      <a href="#alte-pagini">Alte Pagini</a>
      <ul class="submenu">
        <li><a href="galerie_statica">Galerie Statică</a></li>
        <li><a href="galerie_dinamica">Galerie Dinamică</a></li>
        <li><a href="noutati">Noutăți</a></li>
        <li><a href="blog">Blog</a></li>
      </ul>
    </li>
  </ul>
</div>

    <div class="break-print"></div>
  </nav>
  <div class="ip-utilizator">
  IP-ul tău este: <%= ipUtilizator %>
</div>
  
</header>

